---
- include_tasks: set_dns_domain.yml
  when: ansible_facts['os_family'] == "Suse" and server_domain is defined

- include_tasks: set_dns_servers.yml
  when:
    - ansible_facts['os_family'] == "Suse"
    - server_dns1 is defined
    - server_dns2 is defined

- include_tasks: set_hostname.yml
  when:
    - system.set_hostname is defined
    - system.set_hostname == True
    - server_hostname is defined
    - server_shortname is defined

- name: Custom system tasks
  include_role:
    name: custom_system
  when:
    - (system.add_custom_tasks is defined and system.add_custom_tasks == True)
      or (custom.system_tasks is defined and custom.system_tasks == True)

- include_tasks: software.yml

- include_tasks: ../../system_optimize/tasks/optimize_selinux.yml
  when: system.selinux is defined
