---
- name: Install base packages
  package:
    name:
        - git
        - ntp
        - vim
        - tuned
        - wget
        - unzip
        - make
        - xfsprogs
    state: present

- name: Install user-defined packages
  package:
    name: "{{ packages }}"
    state: present
  when: packages is defined

# family requirements
# possible ansible families:
# https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#ansible-facts-os-family

- name: SuSE requirements
  zypper:
    name:
        - systemd-sysvinit
        - python-selinux
        - insserv-compat
        - python-xml
  when: ansible_facts['os_family'] == "Suse"

- name: RHEL requirements
  zypper:
    name:
        - libselinux-python
  when: ansible_facts['os_family'] == "RedHat"

- name: enable NTPd
  systemd:
    daemon_reload: yes
    name: ntpd
    enabled: yes
    state: started

