---
# check for existence of init file
- stat: path=/etc/init.d/cribl
  register: initfile

# file attr doesnt work and is available in ansible version >= v2.3 only
- name: Remove protection from init.d script
  shell: chattr -i /etc/init.d/cribl
  when: initfile is defined and initfile.stat.exists

- name: Tune splunk init.d script (header)
  blockinfile:
        dest: "/etc/init.d/cribl"
        marker: "# <!-- {mark} ANSIBLE MANAGED BLOCK - INFO -->"
        insertbefore: "USAGE="
        block: |
           # ----------------------------------------------------------------------------------------
           # THIS SCRIPT IS PROTECTED BY THE IMMUTABLE BIT TO AVOID ACCIDENTALLY OVERWRITING!
           #
           # Last modification: {{ ansible_date_time.date }} by {{ ansible_conf.host }}
           # 
           # TO MODIFY: chattr -i
           # TO PROTECT AGAIN: chattr +i
           #
           # or just use the following one liner:
           # chattr -i /etc/init.d/cribl && vim /etc/init.d/cribl && chattr +i /etc/init.d/cribl
           #
           # HINT: The above does not apply in docker due to the fact that attr will not work here
           # ----------------------------------------------------------------------------------------
        backup: yes
  when: "cribl_optimize.initd == true | default(false)"

- name: Tune init.d script (ulimit 1/2)
  blockinfile:
        dest: "/etc/init.d/cribl"
        marker: "# <!-- {mark} ANSIBLE MANAGED BLOCK - ULIMITS -->"
        insertafter: 'FORCE_ARG=\"\"'
        block: |
            CRIBL_HOME={{ logstream_installation.home_path }}
            USER="{{ cribl_install_user }}"
            echo "$(date) - init start: nofiles soft $(ulimit -Sn)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: nofiles hard $(ulimit -Hn)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: no processes $(ulimit -Su)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: no processes $(ulimit -Hu)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: max file size $(ulimit -Sf)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: max file size $(ulimit -Hf)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: data segment size $(ulimit -Sd)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init start: data segment size $(ulimit -Hd)" >> $CRIBL_HOME/log/init-ulimit.log
            ulimit -Sn {{ logstream_installation.ulimit_nofile_soft }}
            ulimit -Hn {{ logstream_installation.ulimit_nofile_hard }}
            ulimit -Su {{ logstream_installation.ulimit_nproc_soft }}
            ulimit -Hu {{ logstream_installation.ulimit_nproc_hard }}
            ulimit -Sf {{ logstream_installation.ulimit_fsize_soft }}
            ulimit -Hf {{ logstream_installation.ulimit_fsize_hard }}
            ulimit -Sd {{ logstream_installation.ulimit_data_soft }}
            ulimit -Hd {{ logstream_installation.ulimit_data_hard }}
        backup: yes
  when: "cribl_optimize.initd == true | default(false)"

- name: Tune init.d script (ulimit 2/2)
  blockinfile:
        dest: "/etc/init.d/cribl"
        marker: "# <!-- {mark} ANSIBLE MANAGED BLOCK - ULIMITS-LOG -->"
        insertbefore: "exit ??"
        block: |
            echo "$(date) - init end: nofiles soft $(ulimit -Sn)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: nofiles hard $(ulimit -Hn)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: no processes $(ulimit -Su)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: no processes $(ulimit -Hu)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: max file size $(ulimit -Sf)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: max file size $(ulimit -Hf)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: data segment size $(ulimit -Sd)" >> $CRIBL_HOME/log/init-ulimit.log
            echo "$(date) - init end: data segment size $(ulimit -Hd)" >> $CRIBL_HOME/log/init-ulimit.log
        backup: yes
  when: "cribl_optimize.initd == true | default(false)"

# file attr doesnt work and is available in ansible version >= v2.3 only
- name: Protect init.d script again
  shell: chattr +i /etc/init.d/cribl
  when: 
    - "cribl_optimize.initd == true | default(false)"

- name: Reload init.d conf
  shell: systemctl daemon-reload
  when: 
    - "cribl_optimize.initd == true | default(false)"

