distributed:
  mode: worker
  group: {{ logstream_worker.group }}
  envRegex: {{ logstream_worker.envRegex }}
  master:
    host: {{ groups['logstream_leader'] | first }}
    port: {{ logstream_worker.port }}
    authToken: {{ vault_logstream_leader_authtoken }}
    compression: {{ logstream_worker.compression }}
    tls:
      disabled: {{ logstream_worker.disabledtls }}
    connectionTimeout: {{ logstream_worker.connectionTimeout }}
    writeTimeout: {{ logstream_worker.writeTimeout }}
