[submodule "docs/helpers/bash-doxygen"]
	path = docs/helpers/bash-doxygen
	url = https://github.com/Anvil/bash-doxygen.git
[submodule "github.io"]
	path = github.io
	url = https://github.com/secure-diversITy/secure-diversity.github.io.git
