---
- include: ../../../common/handlers/splunkd.yml

- include: copy_app.yml
  when: (vars[app_variable].apps is defined and vars[app_variable].apps.bundle is defined and vars[app_variable].apps.install == true) or
        (vars[app_variable].master_apps is defined and vars[app_variable].master_apps.bundle is defined and vars[app_variable].master_apps.install == true) or
        (vars[app_variable].shcluster_apps is defined and vars[app_variable].shcluster_apps.bundle is defined and vars[app_variable].shcluster_apps.install == true) or
        (vars[app_variable].deployment_apps is defined and vars[app_variable].deployment_apps.bundle is defined and vars[app_variable].deployment_apps.install == true)

- include: git_checkout.yml
  when: (vars[app_variable].apps is defined and vars[app_variable].apps.git_repo is defined and vars[app_variable].apps.install == true) or
        (vars[app_variable].master_apps is defined and vars[app_variable].master_apps.git_repo is defined and vars[app_variable].master_apps.install == true) or
        (vars[app_variable].shcluster_apps is defined and vars[app_variable].shcluster_apps.git_repo is defined and vars[app_variable].shcluster_apps.install == true) or 
        (vars[app_variable].deployment_apps is defined and vars[app_variable].deployment_apps.git_repo is defined and vars[app_variable].deployment_apps.install == true)

- include: configure_local.yml
  when: (vars[app_variable].apps is defined and (vars[app_variable].apps.delete is not defined or vars[app_variable].apps.delete == false )) or
        (vars[app_variable].master_apps is defined and (vars[app_variable].master_apps.delete is not defined or vars[app_variable].master_apps.delete == false )) or
        (vars[app_variable].shcluster_apps is defined and (vars[app_variable].shcluster_apps.delete is not defined or vars[app_variable].shcluster_apps.delete == false )) or
        (vars[app_variable].deployment_apps is defined and (vars[app_variable].deployment_apps.delete is not defined or vars[app_variable].deployment_apps.delete == false))

- include: set_permissions.yml
  when: (vars[app_variable].apps is defined and (vars[app_variable].apps.delete is not defined or vars[app_variable].apps.delete == false )) or
        (vars[app_variable].master_apps is defined and (vars[app_variable].master_apps.delete is not defined or vars[app_variable].master_apps.delete == false )) or
        (vars[app_variable].shcluster_apps is defined and (vars[app_variable].shcluster_apps.delete is not defined or vars[app_variable].shcluster_apps.delete == false )) or
        (vars[app_variable].deployment_apps is defined and (vars[app_variable].deployment_apps.delete is not defined or vars[app_variable].deployment_apps.delete == false ))

- include: remove_app.yml
  when: (vars[app_variable].apps is defined and (vars[app_variable].apps.delete is defined and vars[app_variable].apps.delete == true )) or
        (vars[app_variable].master_apps is defined and (vars[app_variable].master_apps.delete is defined and vars[app_variable].master_apps.delete == true )) or
        (vars[app_variable].shcluster_apps is defined and (vars[app_variable].shcluster_apps.delete is defined and vars[app_variable].shcluster_apps.delete == true )) or
        (vars[app_variable].deployment_apps is defined and (vars[app_variable].deployment_apps.delete is defined and vars[app_variable].deployment_apps.delete == true ))
