---
- name: "Add/Change disk on {{ server_hostname }}"
  community.general.proxmox_kvm:
        proxmox_default_behavior: compatibility
        node: "{{ proxmox.node[px_var].name }}"
        api_user: "{{ proxmox.node[px_var].api_user }}"
        api_token_id: "{{ proxmox.node[px_var].api_token_id }}"
        api_token_secret: "{{ proxmox.node[px_var].api_token_secret }}"
        api_host: "{{ proxmox.node[px_var].api_host }}"
        name: "{{ server_hostname }}"
        description: "Ansible changed VM settings on: {{ datetime }}"
#            scsi1: "{{ proxmox.node[px_var].storage }}:5,format=raw"
        update: yes
