---
- name: Settle up the base
  hosts: "*:!pors_server"
  remote_user: "{{ pors_ssh_user }}"
  become: yes
  become_user: root
  strategy: free

  roles:
    - { role: system_upgrade, when: system.upgrade_os is defined and system.upgrade_os == True }
    - { role: system_kernel, when: system_yum.elrepo.kernel.setup is defined and system_yum.elrepo.kernel.setup == "yes" }
    - system_base
    - system_optimize
    - system_ntp
    - system_journal
