---

- name: Building full file path if defined
  stat:
    path: "{{splunk_repository.repository_root}}/apps/{{ app_type | default('')}}/{{ filename }}"
  register: fqfilename
  when: filename is defined

- name: Display filename properties (filled when app is not git)
  debug: 
    var: fqfilename.stat.path, fqfilename.stat.size
  when: fqfilename is defined

- name: Convert to ansible friendly name
  set_fact:
    app_variable: "{{ app_name | regex_replace('-', '_')}}"

- name: Ensure path exists
  file:
    path: "{{ custom_data_dir }}/roles/apps/{{ app_name }}/vars"
    state: directory

- name: Set app variables
  template:
    src: "{{ base_install_dir }}/roles/apps/app.template/vars/main.yml.j2"
    dest: "{{ custom_data_dir }}/roles/apps/{{ app_name }}/vars/main.yml"
    mode: 0640

- name: "Set app variables within group_vars"
  template:
    src: "{{ base_install_dir }}/roles/common/templates/add_app_groupvars.j2"
    dest: "{{ inventory_dir }}/group_vars/{{ app2group }}/{{ app_name }}"
    mode: 0640

- name: Remove template file
  file:
    path: "{{ custom_data_dir }}/roles/apps/{{ app_name }}/vars/main.yml.j2"
    state: absent

- name: Find app roles
  command: "ls {{ custom_data_dir }}/roles/apps"
  register: app_roles

- name: (Re)create deploy_apps.yml (pors)
  template:
    src: "{{ base_install_dir }}/roles/common/templates/ae_deploy_apps_{{ target_env  }}.yml.j2"
    dest: "{{ inventory_dir }}/ae_deploy_apps.yml"
    mode: 0640
  when: custom_templ.stat.exists != true

- name: (Re)create deploy_apps.yml (custom)
  template:
    src: "{{ custom_data_dir }}/roles/common/templates/ae_deploy_apps_{{ target_env  }}.yml.j2"
    dest: "{{ inventory_dir }}/ae_deploy_apps.yml"
    mode: 0640
  when: custom_templ.stat.exists == true

