############################################
#
# Default app spec for the target group this
# file resists in. 
# 
############################################

{{ app_variable }}:
  {{ deployment.dir }}:
    install: true
    clean_install: false
    delete: false
{% if filename is defined and filename != "" %}
    bundle_dir: {{ app_dir }}
    bundle: {{ filename }}
{% else %}
    git_repo: {{ git_url }}
    # the following git branch was autodetected when linking
    # and might get overwritten by git_default_branch_override
    # during deployment
    git_version: {{ git_branch }}
{% endif %}
