- name: Deploy Apps
  hosts: "{{ '{{ target }}' }}"
  remote_user: "{{ '{{ pors_ssh_user }}' }}"
  become: yes
  become_user: "{{ '{{ splunk_install_user }}' }}"
  strategy: free
  
  roles:
{{ app_roles.stdout_lines | link_app_list_staging | to_nice_yaml | indent(4, true) }}
