- name: Deploy System Configs
  hosts: "{{ exp_host }}"
  remote_user: "{{ pors_ssh_user }}"
  become: yes
  become_user: "{{ splunk_install_user }}"
  gather_facts: False

  pre_tasks:
    - include_vars: inventories/{{ target_env }}/group_vars/all/ansible

  roles:
    - system/{{ target }}/{{ exp_host }}/system_local_configs
