- name: Install cribl logstream
  hosts: "{{ target }}"
  remote_user: "{{ cribl_ssh_user }}"
  become: yes
  become_user: root
  gather_facts: true
  strategy: free

  vars:
    logstream_upgrade: False

  roles:
    - install_logstream
