---
##################################################################
# Basic server system configuration
##################################################################

system:
    # Configures SELinux. Possible values: enabled | disabled
    selinux: disabled

    # should PORS run a system upgrade after VM deploy and during
    # the splunk upgrade process? Possible values: True | False
    upgrade_os: False

    # set the hostname explicitly
    set_hostname: False

    # a (possibly shared or simply a second) user account which exists 
    # besides the regular ansible remote ssh user {{ pors_ssh_user }}
    # PORS will create that account and also configure authorized_keys
    # if /opt/pors_repo/authorized_keys_{{ shared_service_account }}
    # exists.
    #shared_service_account:

    # additional OS packages to be installed during
    # - VM deploy
    # - splunk install + upgrade
    # 1 pkg per line
    #packages:
        #- make
        #- ..

    # custom tasks which will be run after a system has been deployed
    # and/or on system upgrade.
    # custom roles must be added to:
    # <pors-data-dir>/custom/custom_system/tasks/
    # -> main.yml will be included so set any dependencies here
    # Possible values: True | False
    add_custom_tasks: False

# NTP settings
ntp_enabled: true
ntp_timezone: Europe/Berlin
ntp_manage_config: true
ntp_servers:
    - 0.de.pool.ntp.org iburst
    - 1.de.pool.ntp.org iburst
