SERVER_ROLE=activeinput
VMCPU=8
VMRAM=8192
VMDNS1=xxxxxxxxxxxxxxxxxx.1
VMDNS2=xxxxxxxxxxxxxxxxxx.2
VMSDOMAIN=xxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxx.com
VMNETMASK=255.255.255.0
VMGW=xxxxxxxxxxxxxxxxxx.254
VMGUESTOS=centos7_64Guest

# amount of EXTRA disks to be added 
# (the OS disk is always coming from the vCenter template)
# delete VMDISK variable or set it to 0 if you don't need to add additional disk(s)
VMDISK=1

# VMDISK1.., VMDISK2..., VMDISK3..., ...

VMDISK1TYPE=thin
VMDISK1SIZEGB=70
VMDISK1DEV=/dev/sdb
VMDISK1OPTS=defaults
VMDISK1MNTP=/opt/splunk
VMDISK1LVMVG=ssd
VMDISK1LVMLV=splunkd
VMDISK1FS=xfs
