SERVER_ROLE=indexer
VMCPU=28
VMRAM=131072
VMDNS1=xxxxxxxxxxxxxxxxxx.1
VMDNS2=xxxxxxxxxxxxxxxxxx.2
VMSDOMAIN=xxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxx.com
VMNETMASK=255.255.255.0
VMGW=xxxxxxxxxxxxxxxxxx.254
VMGUESTOS=centos7_64Guest

# amount of EXTRA disks to be added 
# (the OS disk is always coming from the vCenter template)
# delete VMDISK variable or set it to 0 if you don't need to add additional disk(s)
VMDISK=3

# VMDISK1.., VMDISK2..., VMDISK3..., ...

VMDISK1TYPE=thin
VMDISK1SIZEGB=70
VMDISK1DEV=/dev/sdb
VMDISK1OPTS=defaults
VMDISK1MNTP=/opt/splunk
VMDISK1LVMVG=ssd
VMDISK1LVMLV=splunkd
VMDISK1FS=xfs

VMDISK2TYPE=thick
VMDISK2SIZEGB=10240
VMDISK2DEV=/dev/sdc
VMDISK2OPTS="defaults,noatime,nodiratime,nobarrier"
VMDISK2MNTP=/opt/splunk_data/slowdisk
VMDISK2LVMVG=hdd
VMDISK2LVMLV=colddb
VMDISK2FS=xfs

VMDISK3TYPE=thick
VMDISK3SIZEGB=6144
VMDISK3DEV=/dev/sdd
VMDISK3OPTS="defaults,noatime,nodiratime,nobarrier"
VMDISK3MNTP=/opt/splunk_data/fastdisk
VMDISK3LVMVG=flash
VMDISK3LVMLV=hotdb
VMDISK3FS=xfs
