# Note: These settings will override any common setting defined in
# pors_hardware-config_common.config
#
# Check out the PORS documentation:
# https://github.com/secure-diversITy/ansible_pors/wiki
##################################################################

# splunk role.
# Usually you want to define a single file for every role.
# just copy this file and name it as the role you want, e.g.:
# copy to -> pors_hardware-config_licensemaster.config
# (take care of the naming convention here so PORS can find it)
#
# This variable is: MANDATORY
###############################
#SERVER_ROLE=licensemaster
#SERVER_ROLE=masternode
#SERVER_ROLE=peernode
#SERVER_ROLE=deploymentserver
#SERVER_ROLE=searchhead
#SERVER_ROLE=activeinput
#SERVER_ROLE=heavyforwarder
#SERVER_ROLE=httpeventcollector
#SERVER_ROLE=deployer
#SERVER_ROLE=shcmember
#SERVER_ROLE=monitoringconsole
#SERVER_ROLE=logstream_masternode
#SERVER_ROLE=logstream_worker

# the VM provider this profile is made for.
#
# This variable is: MANDATORY
###############################
#VM_PROVIDER=vsphere
#VM_PROVIDER=googlecp
#VM_PROVIDER=proxmox

# Guest identfier.
# vSphere:
#  - 6.5 => https://code.vmware.com/apis/196/vsphere/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
#  - 6.7 => https://code.vmware.com/apis/358/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
#  - 7.0 => https://vdc-download.vmware.com/vmwb-repository/dcr-public/a5f4000f-1ea8-48a9-9221-586adff3c557/7ff50256-2cf2-45ea-aacd-87d231ab1ac7/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
# any other:
# - check their documentation to find the right identifier here
#
# This variable is: MANDATORY
###############################
#VMGUESTOS=centos7_64Guest
#VMGUESTOS=centos8_64Guest
#VMGUESTOS=centos9_64Guest

# CPU and RAM highly depends on
# 1. splunk server role
# 2. your own workload (usually this needs consultancy to get the best performance)
# splunk's recommendations: 
# https://docs.splunk.com/Documentation/Splunk/latest/Capacity/Referencehardware
#
# These variables are: MANDATORY
##################################
#VMCPU=32
#VMRAM_GB=128

# GCP Machine Type (when using Google Gloud Platform)
# Check out the PORS documentation: 
# https://github.com/secure-diversITy/ansible_pors/wiki/googlecp
#
# This variable is: MANDATORY (when using GCP)
###############################################
#VM_GOOGLECP_MTYPE=n1-standard-${VMCPU}

# GCP Metadata Role (when using Google Gloud Platform)
# Check out the PORS documentation: 
# https://github.com/secure-diversITy/ansible_pors/wiki/googlecp
#
# This variable is: MANDATORY (when using GCP)
###############################################
#VM_GOOGLECP_MROLE=${SERVER_ROLE}

# Default GCP Project ID (when using Google Gloud Platform)
# Check out the PORS documentation: 
# https://github.com/secure-diversITy/ansible_pors/wiki/googlecp
#
# This variable is: OPTIONAL (when using GCP)
###############################################
#VM_GOOGLECP_ID=

# amount of disks to be added by PORS
# if unset or VMDISK=0 PORS will completely ignore disk handling (i.e. no add/format)
#
# good practice is to define all common settings in "pors_hardware-config_common.config".
# when needed you can then overwrite here or extend the common config.
#
# This variable is: REQUIRED when using multiple partitions (which is recommended)
##################################################################################
#VMDISK=0

##############################################################
# DOCUMENTATION OF THE FOLLOWING PARAMETERS CAN BE FOUND IN:
# pors_hardware-config_common.cfg
##############################################################

# Example for hot/warm storage on an indexer
# /tmp for GCP and PVE
#VMDISK3TYPE=thick
#VMDISK3SIZEGB=6144
#VMDISK3DEV=/dev/sdd
#VMDISK3DEVBOOT=false
#VMDISK3DEVAUTODEL=true
#VMDISK3EXTRANAME=persistent-disk-1
#VMDISK3OPTS="defaults,noatime,nodiratime,nobarrier"
#VMDISK3MNTP=/opt/splunk_data/fastdisk
#VMDISK3LVMVG=fast
#VMDISK3LVMLV=hotdb
#VMDISK3FS=xfs

# Example for hot/warm storage on an indexer
# /var for GCP and PVE
#VMDISK4TYPE=thick
#VMDISK4SIZEGB=6144
#VMDISK4DEV=/dev/sde
#VMDISK4DEVBOOT=false
#VMDISK4DEVAUTODEL=true
#VMDISK4EXTRANAME=persistent-disk-1
#VMDISK4OPTS="defaults,noatime,nodiratime,nobarrier"
#VMDISK4MNTP=/opt/splunk_data/fastdisk
#VMDISK4LVMVG=os
#VMDISK4LVMLV=var
#VMDISK4FS=xfs
