################################################################
#
# Common settings for any role, any VM provider
#
# This will be read first then your selected role config 
# (so a role config will always overwrite these defaults here)
#
# you can add any variable available here but the defined ones
# are recommended (any not listed here should be set in a role 
# specific config instead).
################################################################

# Global 
# (i.e. not VM_PROVIDER specific
################################

#VMDNS1=9.9.9.9
#VMDNS2=9.9.9.10
#VMSDOMAIN=splunkd.local
#VMNETMASK=255.255.255.0
#VMGW=1.1.1.1

# If you prefer DHCP instead of static IPs:
#VMIP=dhcp

# It is recommended to install splunk on a separate partition - always
#
# this variable is: RECOMMENDED
###############################
VMDISK=1
# as the disk size depends on the role (e.g. a SH, AI or HF might need more
# then others) you might want to set VMDISK1SIZEGB in your
#   pors_hardware-config_<rolename>.config
# to overwrite this default for those roles (of course you can set any
# of them in a role specific config to overwrite - if needed)
#
# these variables are: RECOMMENDED
##################################
VMDISK1TYPE=thick
VMDISK1SIZEGB=20
VMDISK1DEV=/dev/sdb
VMDISK1OPTS=defaults
VMDISK1MNTP=/opt/splunk
VMDISK1LVMVG=ssd
VMDISK1LVMLV=splunkd
VMDISK1FS=xfs

####################################
# Common - VMware vSphere settings
####################################
#VM_PROVIDER=vsphere

# Default target ESXi node
#VM_VSPHERE_ESX=
# Default Datastorage
#VM_VSPHERE_DS=
# Default Datacenter
#VM_VSPHERE_DC=
# Default network name
#VM_VSPHERE_NETNAME=

#############################
# Proxmox (PVE)
#############################
#VM_PROVIDER=proxmox


#############################
# Google Cloud Platform (GCP)
#############################
#VM_PROVIDER=googlecp

