################################################################
# Common settings for any role, any VM provider
#
# This will be read first then your selected role config 
# (so a role config will always overwrite these defaults here)
#
# you can add any variable available here but the defined ones
# are recommended (any not listed here should be set in a role 
# specific config instead).
################################################################

# Global 
# (i.e. not VM_PROVIDER specific
################################

#VMDNS1=9.9.9.9
#VMDNS2=9.9.9.10
#VMSDOMAIN=splunkd.local
#VMNETMASK=255.255.255.0
#VMGW=1.1.1.1

# If you prefer DHCP instead of static IPs:
#VMIP=dhcp

######################################################################################################################
# VMDISKx parameters.
#
# Here you define each disk you want to add and format by PORS. Cloud Providers usually need to start
# with VMDISK1xxx = / because the information here is needed to attach a disk to an instance.
#
# Depending on the VMDISK value you need to set: VMDISK1xxx , VMDISK2xxx, VMDISK3xxx , .... values
# What to define in this file here depends on your needs, VM_PROVIDER and what you want to share between other PORS 
# hardware config files.
#
# Example:
# If you want to have /var and /tmp/ on separate disks(!) and this is the same for all servers you want to deploy
# then set the VMDISKx parameters here in the common config. This way you need to specify only extra disks
# (e.g. extra disks on indexers) in a role specific hardware config file. So pors_hardware-config_peernode.cfg will then
# contain the extra VMDISK parameters only.
#
# MANDATORY (things will break if these are not set)
#
#   VMDISKxTYPE          disk provision type. thin, thick, ... (vSphere), pd-standard, pd-ssd, ... (Google CP), ...
#   VMDISKxSIZEGB        disk size in GB
#   VMDISKxDEV           full device path (might be different depending on the VM hardware)
#   VMDISKxMNTP          mount point (as in fstab) - set "none" for swap
#   VMDISKxFS            fs-type (will format the disk with that type)
#                        e.g.: ext3,ext4,xfs,swap
#                        special value: "skip" - when set this partition/disk will not get formatted, just attached
#
# MANDATORY - GCP (must be set when using VM_PROVIDER=googlecp)
#
#   VMDISKxDEVAUTODEL    delete device on instance removal? can be true|false. no default!
#   VMDISKxDEVBOOT       is this device the boot device? Can be true|false. no default!
#   VMDISKxEXTRANAME     specify a custom device name. no default!
#
# OPTIONAL (leave outcommented if you do not need them or want to use its default)
#
#   VMDISKxOPTS          mount options (as in fstab) - if not set: "defaults" will be used
#   VMDISKxLVMVG         name for the LVM volume group - if not set no LVM will be used
#   VMDISKxLVMLV         name for the LVM logical volume - if not set no LVM will be used
#
######################################################################################################################

# amount of disks to be added by PORS
# if unset or VMDISK=0 PORS will completely ignore 
# disk handling (i.e. no add/format)
#
# keep in mind that it is recommended running splunk 
# on a separate partition 
# you can configure as many as you like (better said:
# the limit is your OS - tested up to 9 only though)
###################################################
#VMDISK=0
#VMDISK=1
#VMDISK=2
#VMDISK=3
#VMDISK=4
#VMDISK=X

# VMDISK1 must be the root device ( / ) on Cloud Providers like GCP
#####################################################################
#VMDISK1TYPE=thick
#VMDISK1SIZEGB=20
#VMDISK1DEV=/dev/sda
#VMDISK1DEVBOOT=false
#VMDISK1DEVAUTODEL=true
#VMDISK1EXTRANAME=persistent-disk-1
#VMDISK1OPTS=defaults
#VMDISK1MNTP=/
#VMDISK1LVMVG=os
#VMDISK1LVMLV=root
#VMDISK1FS=skip

# It is recommended to install splunk on a separate partition - always
# disk size depends on the role (e.g. a SH, AI or HF might need more then a DEP)
# Example for /opt
#####################################################################
#VMDISK2TYPE=pd-standard
#VMDISK2SIZEGB=20
#VMDISK2DEV=/dev/sdb
#VMDISK2DEVBOOT=false
#VMDISK2DEVAUTODEL=true
#VMDISK2EXTRANAME=persistent-disk-2
#VMDISK2OPTS="defaults"
#VMDISK2MNTP=/opt
#VMDISK2LVMVG=app
#VMDISK2LVMLV=splunkd
#VMDISK2FS=xfs

# ... proceed with any other common disk configs you need here
#####################################################################



####################################
# Common - VMware vSphere settings
####################################
#VM_PROVIDER=vsphere

# Default target ESXi node
#VM_VSPHERE_ESX=
# Default Datastorage
#VM_VSPHERE_DS=
# Default Datacenter
#VM_VSPHERE_DC=
# Default network name
#VM_VSPHERE_NETNAME=

#############################
# Proxmox (PVE)
#############################
#VM_PROVIDER=proxmox


#############################
# Google Cloud Platform (GCP)
#############################
#VM_PROVIDER=googlecp

