# Note: These settings will override any common setting defined in
# pors_hardware-config_common.config
#
# Check out the PORS documentation:
# https://github.com/secure-diversITy/ansible_pors/wiki
##################################################################

# splunk role.
# Usually you want to define a single file for every role.
# just copy this file and name it as the role you want, e.g.:
# copy to -> pors_hardware-config_licensemaster.config
# (take care of the naming convention here so PORS can find it)
#
# This variable is: MANDATORY
###############################
#SERVER_ROLE=licensemaster
#SERVER_ROLE=masternode
#SERVER_ROLE=peernode
#SERVER_ROLE=deploymentserver
#SERVER_ROLE=searchhead
#SERVER_ROLE=activeinput
#SERVER_ROLE=heavyforwarder
#SERVER_ROLE=httpeventcollector
#SERVER_ROLE=deployer
#SERVER_ROLE=shcmember
#SERVER_ROLE=monitoringconsole
#SERVER_ROLE=logstream_masternode
#SERVER_ROLE=logstream_worker

# the VM provider this profile is made for.
#
# This variable is: MANDATORY
###############################
#VM_PROVIDER=vsphere
#VM_PROVIDER=googlecp
#VM_PROVIDER=proxmox

# Guest identfier.
# vSphere:
#  - 6.5 => https://code.vmware.com/apis/196/vsphere/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
#  - 6.7 => https://code.vmware.com/apis/358/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
#  - 7.0 => https://vdc-download.vmware.com/vmwb-repository/dcr-public/a5f4000f-1ea8-48a9-9221-586adff3c557/7ff50256-2cf2-45ea-aacd-87d231ab1ac7/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
# any other:
# - check their documentation to find the right identifier here
#
# This variable is: MANDATORY
###############################
#VMGUESTOS=centos7_64Guest
#VMGUESTOS=centos8_64Guest
#VMGUESTOS=centos9_64Guest

# CPU and RAM highly depends on
# 1. splunk server role
# 2. your own workload (usually this needs consultancy to get the best performance)
# splunk's recommendations: 
# https://docs.splunk.com/Documentation/Splunk/latest/Capacity/Referencehardware
#
# These variables are: MANDATORY
##################################
#VMCPU=32
#VMRAM_GB=128

# GCP Machine Type (when using Google Gloud Platform)
# Check out the PORS documentation: 
# https://github.com/secure-diversITy/ansible_pors/wiki/googlecp
#
# This variable is: MANDATORY (when using GCP)
###############################################
#VM_GOOGLECP_MTYPE=n1-standard-${VMCPU}

# GCP Metadata Role (when using Google Gloud Platform)
# Check out the PORS documentation: 
# https://github.com/secure-diversITy/ansible_pors/wiki/googlecp
#
# This variable is: MANDATORY (when using GCP)
###############################################
#VM_GOOGLECP_MROLE=${SERVER_ROLE}


#VM_GOOGLECP_ID=

# amount of EXTRA disks to be added 
# (the OS disk is always coming from the OS template - obviously)
# do not define the VMDISK variable or set it to 0 if you don't need to add additional disk(s)
#
# good practice is to set VMDISK=1 in pors_hardware-config_common.config and define /opt/splunk
# there. when needed you can then also enable it here to overwrite the common config.
#
# This variable is: OPTIONAL
###############################
#VMDISK=0
#VMDISK=1
#VMDISK=2
#VMDISK=3
#VMDISK=4

# depending on the VMDISK value above you need to set 
# VMDISK1xxx , VMDISK2xxx, VMDISK3xxx , .... values
#
# VMDISK1TYPE:          disk provision type (usually one of thin, thick, ... (vSphere),
#                       pd-standard, pd-ssd, ... (Google CP), ..etc, depends on VM_PROVIDER)
# VMDISK1SIZEGB:        disk size in GB
# VMDISK1DEV:           device name (might be different depending on the VM hardware)
# VMDISK1DEVBOOT        true | false
#                       is this device the boot device? Only 1 boot device allowed!
# VMDISK1OPTS:          mount options (as in fstab)
# VMDISK1MNTP:          mount point (as in fstab)
# VMDISK1LVMVG:         name for the LVM volume group
# VMDISK1LVMLV:         name for the LVM logical volume
# VMDISK1FS:            fs-type (will format the disk with that type)
#                       e.g.: ext3,ext4,xfs,swap

# It is recommended to install splunk on a separate partition - always
# disk size depends on the role (e.g. a SH, AI or HF might need more
# then others
# / for GCP and PVE
#VMDISK1TYPE=thick
#VMDISK1SIZEGB=20
#VMDISK1DEV=/dev/sdb
#VMDISK1DEVBOOT=false
#VMDISK1OPTS=defaults
#VMDISK1MNTP=/opt/splunk
#VMDISK1LVMVG=app
#VMDISK1LVMLV=splunkd
#VMDISK1FS=xfs

# Example for cold storage on an indexer
# /opt for GCP and PVE
#VMDISK2TYPE=thick
#VMDISK2SIZEGB=10240
#VMDISK2DEV=/dev/sdc
#VMDISK2DEVBOOT=false
#VMDISK2OPTS="defaults,noatime,nodiratime,nobarrier"
#VMDISK2MNTP=/opt/splunk_data/slowdisk
#VMDISK2LVMVG=slow
#VMDISK2LVMLV=colddb
#VMDISK2FS=xfs

# Example for hot/warm storage on an indexer
# /tmp for GCP and PVE
#VMDISK3TYPE=thick
#VMDISK3SIZEGB=6144
#VMDISK3DEV=/dev/sdd
#VMDISK3DEVBOOT=false
#VMDISK3OPTS="defaults,noatime,nodiratime,nobarrier"
#VMDISK3MNTP=/opt/splunk_data/fastdisk
#VMDISK3LVMVG=fast
#VMDISK3LVMLV=hotdb
#VMDISK3FS=xfs

# Example for hot/warm storage on an indexer
# /var for GCP and PVE
#VMDISK4TYPE=thick
#VMDISK4SIZEGB=6144
#VMDISK4DEV=/dev/sde
#VMDISK4DEVBOOT=false
#VMDISK4OPTS="defaults,noatime,nodiratime,nobarrier"
#VMDISK4MNTP=/opt/splunk_data/fastdisk
#VMDISK4LVMVG=os
#VMDISK4LVMLV=var
#VMDISK4FS=xfs
