distributed:
  mode: worker
  group: {{ logstream_installation.worker.group }}
  envRegex: {{ logstream_installation.worker.envRegex }}
  master:
    host: {{ groups['logstream_mn'] | first }}
    port: {{ logstream_installation.worker.port }}
    authToken: {{ vault_logstream_master_authtoken }}
    compression: {{ logstream_installation.worker.compression }}
    tls:
      disabled: {{ logstream_installation.worker.disabledtls }}
    connectionTimeout: {{ logstream_installation.worker.connectionTimeout }}
    writeTimeout: {{ logstream_installation.worker.writeTimeout }}
