---
- name: Gather currently installed splunk version
  shell: "grep VERSION {{ splunk_installation.splunk_home_path }}/etc/splunk.version | egrep -o '([0-9])+\\.([0-9])+\\.([0-9])+'"
  register: splunk_version_installed

- name: Parse splunk version
  set_fact:
    splunkversion_major: "{{ splunk_version_installed.stdout |regex_replace('([0-9]+)\\.([0-9]+)\\.([0-9]+)','\\1') | int }}"
    splunkversion_minor: "{{ splunk_version_installed.stdout |regex_replace('([0-9]+)\\.([0-9]+)\\.([0-9]+)','\\2') | int }}"
    splunkversion_patch: "{{ splunk_version_installed.stdout |regex_replace('([0-9]+)\\.([0-9]+)\\.([0-9]+)','\\3') | int }}"

- set_fact:
    splunkversion_majorminor: "{{splunkversion_major}}{{splunkversion_minor}}"

- name: Detected values for splunk version
  debug:
    msg: "Major: {{ splunkversion_major }}, Minor: {{ splunkversion_minor }}, Patch: {{ splunkversion_patch }}, MajorMinor: {{ splunkversion_majorminor }}"
