SERVER_ROLE=indexer_LAB
VMCPU='8'
VMRAM='61440'
VMNETMASK='255.255.255.0'
VMGW='xxxxxxxxxxxxxxxxxx.254'
VMDNS1='xxxxxxxxxxxxxxxxxx.1'
VMDNS2='xxxxxxxxxxxxxxxxxx.2'
VMSDOMAIN='xxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxx.com'
# 6.5 API => https://code.vmware.com/apis/196/vsphere/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
# 6.7 API => https://code.vmware.com/apis/358/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
VMGUESTOS=centos64Guest

# amount of EXTRA disks to be added 
# (the OS disk is always coming from the vCenter template)
# delete VMDISK variable or set it to 0 if you don't need to add additional disk(s)
VMDISK=2

VMDISK1TYPE=thick
VMDISK1FS=xfs
VMDISK1SIZEGB=40
VMDISK1OPTS=defaults
VMDISK1DEV=/dev/sdc
VMDISK1MNTP=/opt/splunk
VMDISK1LVMVG=locdisk
VMDISK1LVMLV=splunkd

VMDISK2TYPE=thick
VMDISK2FS=xfs
VMDISK2SIZEGB=5222
VMDISK2OPTS=defaults,noatime,nodiratime,nobarrier
VMDISK2DEV=/dev/sdd
VMDISK2MNTP=/opt/splunk_data
VMDISK2LVMVG=lundisk
VMDISK2LVMLV=spldata
