###############################################################
# dynamic inventory for Proxmox VE
###############################################################
plugin: community.general.proxmox

# target environment
all:
    # change this to your environment
    vars:
        target_env: "<production|staging|development>"
    # do not touch the following
    children:
        logstream_all:
            logstream_leader:
            logstream_worker:


# do not touch this
pors_server:
    hosts:
        localhost:

url: "https://{{ proxmox.dc.host }}:8006"
user: "{{ vault_proxmox_pve_user }}"
password: "{{ vault_proxmox_pve_password }}" 
validate_certs: "{{ proxmox.dc.validate_certs }}"

want_facts: yes
facts_prefix: ""
group_prefix: ""
